<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="uk.ac.bristol.dao.AssetMapper">
    <select id="selectAssets" resultMap="ResultMaps.AssetMap">
        select asset_row_id,
               asset_id,
               asset_name,
               asset_type_id,
               asset_owner_id,
               ST_AsGeoJSON(asset_location) as asset_location,
               asset_capacity_litres,
               asset_material,
               asset_status,
               asset_installed_at,
               asset_last_inspection,
               asset_last_modified,
               asset_types.*,
               asset_postcodes.*
        from assets
                 left join asset_types
                           on asset_type_type_id = asset_type_id
                 left join asset_postcodes
                           on asset_id = asset_postcode_asset_id
        <include refid="QueryBlocks.filtering"/>
        <include refid="QueryBlocks.orderAndPage"/>
    </select>

    <sql id="selectAssetsWithWarnings">
        select asset_row_id,
               asset_id,
               asset_name,
               asset_type_id,
               asset_owner_id,
               ST_AsGeoJSON(asset_location) as asset_location,
               asset_capacity_litres,
               asset_material,
               asset_status,
               asset_installed_at,
               asset_last_inspection,
               asset_last_modified,
            <choose>
                <when test="simplify == true">
                    warning_id,
                    warning_weather_type,
                    warning_level,
                    warning_valid_from,
                    warning_valid_to,
                </when>
                <otherwise>
                    warning_id,
                    warning_weather_type,
                    warning_level,
                    warning_head_line,
                    warning_valid_from,
                    warning_valid_to,
                    warning_impact,
                    warning_likelihood,
                    warning_affected_areas,
                    warning_what_to_expect,
                    warning_further_details,
                    warning_update_description,
                    ST_AsGeoJSON(warning_area)   as warning_area,
                </otherwise>
            </choose>
               asset_types.*,
               asset_postcodes.*
        from assets
                 left join weather_warnings
                           on ST_Intersects(asset_location, warning_area) and
                              now() between warning_valid_from and warning_valid_to
                 left join asset_types
                           on asset_type_type_id = asset_type_id
                 left join asset_postcodes
                           on asset_id = asset_postcode_asset_id
    </sql>

    <select id="selectAssetsWithWarnings" resultMap="ResultMaps.AssetWithWarningsMap">
        <include refid="selectAssetsWithWarnings"/>
        <include refid="QueryBlocks.filtering"/>
        <include refid="QueryBlocks.orderAndPage"/>
    </select>

    <select id="selectAssetWithWarningsAnchor" resultType="java.util.Map">
        <include refid="selectAssetsWithWarnings"/>
        where asset_row_id &gt;= #{rowId}
        order by asset_row_id asc
        limit 1 offset 0
    </select>

    <select id="selectAssetsWithWarningsPuttingWarningsTableMain" resultMap="ResultMaps.AssetWithWarningsMap">
        select asset_row_id,
               asset_id,
               asset_name,
               asset_type_id,
               asset_owner_id,
               ST_AsGeoJSON(asset_location) as asset_location,
               asset_capacity_litres,
               asset_material,
               asset_status,
               asset_installed_at,
               asset_last_inspection,
               asset_last_modified,

               warning_id,
               warning_weather_type,
               warning_level,
               warning_head_line,
               warning_valid_from,
               warning_valid_to,
               warning_impact,
               warning_likelihood,
               warning_affected_areas,
               warning_what_to_expect,
               warning_further_details,
               warning_update_description,
               ST_AsGeoJSON(warning_area)   as warning_area,

               asset_types.*,
               asset_postcodes.*
        from weather_warnings
                 right join assets
                           on ST_Intersects(asset_location, warning_area) and
                              now() between warning_valid_from and warning_valid_to
                 left join asset_types
                           on asset_type_type_id = asset_type_id
                 left join asset_postcodes
                           on asset_id = asset_postcode_asset_id
        <include refid="QueryBlocks.filtering"/>
        <include refid="QueryBlocks.orderAndPage"/>
    </select>

    <select id="countAssetsWithWarnings" resultType="int">
        select count(distinct asset_row_id)
        from assets
                 left join weather_warnings
                           on ST_Intersects(asset_location, warning_area) and
                              now() between warning_valid_from and warning_valid_to
                 left join asset_types
                           on asset_type_type_id = asset_type_id
                left join asset_postcodes
                           on asset_id = asset_postcode_asset_id
        <include refid="QueryBlocks.filtering"/>
    </select>

    <select id="testAssetLocationDiff" resultType="java.lang.Boolean">
        select case
                   when
                       not ST_Equals(asset_location, ST_Multi(ST_GeomFromGeoJSON(#{locationAsJson})))
                       then true
                   else false
                   end
        from assets
        where asset_id = #{id}
    </select>

    <insert id="insertAsset">
        insert into assets (asset_id,
                            asset_name,
                            asset_type_id,
                            asset_owner_id,
                            asset_location,
                            asset_capacity_litres,
                            asset_material,
                            asset_status,
                            asset_installed_at,
                            asset_last_inspection,
                            asset_last_modified)
        values (#{id}, #{name}, #{typeId}, #{ownerId}, ST_Multi(ST_MakeValid(ST_GeomFromGeoJSON(#{locationAsJson}))),
                #{capacityLitres}, #{material}, #{status},
                #{installedAt}, #{lastInspection}, #{lastModified});
    </insert>

    <select id="insertAssetReturningId" parameterType="uk.ac.bristol.pojo.Asset" resultType="java.lang.String">
        insert into assets (asset_id,
                            asset_name,
                            asset_type_id,
                            asset_owner_id,
                            asset_location,
                            asset_capacity_litres,
                            asset_material,
                            asset_status,
                            asset_installed_at,
                            asset_last_inspection,
                            asset_last_modified)
        values (#{id}, #{name}, #{typeId}, #{ownerId}, ST_Multi(ST_MakeValid(ST_GeomFromGeoJSON(#{locationAsJson}))),
                #{capacityLitres}, #{material}, #{status},
                #{installedAt}, #{lastInspection}, #{lastModified})
        returning asset_id;
    </select>

    <insert id="insertAssetAutoId">
        insert into assets (asset_name,
                            asset_type_id,
                            asset_owner_id,
                            asset_location,
                            asset_capacity_litres,
                            asset_material,
                            asset_status,
                            asset_installed_at,
                            asset_last_inspection,
                            asset_last_modified)
        values (#{name}, #{typeId}, #{ownerId}, ST_Multi(ST_MakeValid(ST_GeomFromGeoJSON(#{locationAsJson}))),
                #{capacityLitres}, #{material}, #{status},
                #{installedAt}, #{lastInspection}, #{lastModified});
    </insert>

    <update id="updateAsset">
        update assets
        <set>
            <if test="name != null and name != ''">asset_name = #{name},</if>
            <if test="typeId != null and typeId != ''">asset_type_id = #{typeId},</if>
            <if test="ownerId != null and ownerId != ''">asset_owner_id = #{ownerId},</if>
            <if test="location != null">asset_location = ST_Multi(ST_GeomFromGeoJSON(#{locationAsJson})),</if>
            <if test="capacityLitres != null and capacityLitres != ''">asset_capacity_litres = #{capacityLitres},</if>
            <if test="material != null and material != ''">asset_material = #{material},</if>
            <if test="status != null and status != ''">asset_status = #{status},</if>
            <if test="installedAt != null">asset_installed_at = #{installedAt},</if>
            <if test="lastInspection != null">asset_last_inspection = #{lastInspection},</if>
            <if test="lastModified != null">asset_last_modified = #{lastModified},</if>
        </set>
        where asset_id = #{id};
    </update>

    <delete id="deleteAssetByIDs">
        delete
        from assets
        where asset_id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">#{id}</foreach>
    </delete>

    <select id="selectAssetTypes" resultMap="ResultMaps.AssetTypeMap">
        select *
        from asset_types
        <include refid="QueryBlocks.filtering"/>
        <include refid="QueryBlocks.orderAndPage"/>
    </select>

    <select id="selectAssetTypeAnchor" resultType="java.util.Map">
        select *
        from asset_types
        where asset_type_row_id &gt;= #{rowId}
        order by asset_type_row_id asc
        limit 1 offset 0
    </select>

    <insert id="insertAssetType">
        insert into asset_types (asset_type_type_id,
                                 asset_type_name,
                                 asset_type_description)
        values (#{id}, #{name}, #{description});
    </insert>

    <insert id="insertAssetTypeAutoId">
        insert into asset_types (asset_type_name, asset_type_description)
        values (#{name}, #{description});
    </insert>

    <update id="updateAssetType">
        update asset_types
        <set>
            <if test="name != null and name != ''">asset_type_name = #{name},</if>
            <if test="description != null and description != ''">asset_type_description = #{description},</if>
        </set>
        where asset_type_type_id = #{id};
    </update>

    <delete id="deleteAssetTypeByIDs">
        delete
        from asset_types
        where asset_type_type_id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">#{id}</foreach>
    </delete>

    <select id="selectAssetPostcodeByAssetId" resultMap="ResultMaps.AssetPostcodeMap">
        select *
        from asset_postcodes
        where asset_postcode_asset_id = #{id}
    </select>

    <select id="upsertAssetPostcodeByAssetId" resultType="java.lang.Boolean">
        insert into asset_postcodes (asset_postcode_asset_id,
                                     asset_postcode_postcode,
                                     asset_postcode_longitude,
                                     asset_postcode_latitude,
                                     asset_postcode_country,
                                     asset_postcode_region,
                                     asset_postcode_admin_district)
        values (#{id}, #{map.postcode}, #{map.longitude}, #{map.latitude}, #{map.country}, #{map.region},
                #{map.district})
        on conflict (asset_postcode_asset_id)
            do update
        <set>
            <if test="map.postcode != null">asset_postcode_postcode = #{map.postcode},</if>
            <if test="map.longitude != null">asset_postcode_longitude = #{map.longitude},</if>
            <if test="map.latitude != null">asset_postcode_latitude = #{map.latitude},</if>
            <if test="map.country != null">asset_postcode_country = #{map.country},</if>
            <if test="map.region != null">asset_postcode_region = #{map.region},</if>
            <if test="map.district != null">asset_postcode_admin_district = #{map.district},</if>
        </set>
        returning xmax = 0 as inserted
    </select>

    <delete id="deleteAssetPostcodeByAssetIds">
        delete
        from asset_postcodes
        where asset_postcode_asset_id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">#{id}</foreach>
    </delete>
</mapper>