<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="uk.ac.bristol.dao.GroupMemberMapper">

    <insert id="insertGroupMember" parameterType="uk.ac.bristol.pojo.GroupMember" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO group_members (group_id, user_id)
        VALUES (#{groupId}, #{userId})
    </insert>

    <delete id="deleteGroupMemberById" parameterType="int">
        DELETE FROM group_members WHERE id = #{id}
    </delete>

    <update id="updateGroupMember" parameterType="uk.ac.bristol.pojo.GroupMember">
        UPDATE group_members
        SET group_id = #{groupId},
            user_id = #{userId}
        WHERE id = #{id}
    </update>

    <select id="getMembersByGroupId" parameterType="int" resultType="uk.ac.bristol.pojo.GroupMember">
        SELECT id, group_id AS groupId, user_id AS userId
        FROM group_members
        WHERE group_id = #{groupId}
    </select>

    <select id="findUserIdsByGroupId" resultType="string">
        SELECT user_id FROM group_members WHERE group_id = #{groupId}
    </select>

    <update id="updateUserGroup">
        UPDATE group_members SET group_id = #{newGroupId} WHERE user_id = #{userId}
    </update>

</mapper>
