<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="uk.ac.bristol.dao.ImageStorageMapper">

    <insert id="insertImage">
        insert into image_storage (image_cid, image_content)
        values (#{cid}, #{image})
    </insert>

    <delete id="deleteImage">
        delete from image_storage where image_cid = #{cid}
    </delete>

    <select id="selectImage" resultType="java.lang.String">
        select image_content
        from image_storage
        WHERE image_cid = #{cid}
    </select>

</mapper>