<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="uk.ac.bristol.dao.PermissionGroupPermissionMapper">

    <resultMap id="PermissionGroupPermissionMap" type="uk.ac.bristol.pojo.PermissionGroupPermission">
        <result property="groupId" column="group_id"/>
        <result property="canCreateAsset" column="can_create_asset"/>
        <result property="canSetPolygonOnCreate" column="can_set_polygon_on_create"/>
        <result property="canUpdateAssetFields" column="can_update_asset_fields"/>
        <result property="canUpdateAssetPolygon" column="can_update_asset_polygon"/>
        <result property="canDeleteAsset" column="can_delete_asset"/>
        <result property="canUpdateProfile" column="can_update_profile"/>
    </resultMap>

    <select id="selectPermissionsByGroupId" parameterType="long" resultMap="PermissionGroupPermissionMap">
        SELECT * FROM permission_group_permissions WHERE group_id = #{groupId}
    </select>

    <insert id="insertPermissions" parameterType="uk.ac.bristol.pojo.PermissionGroupPermission">
        INSERT INTO permission_group_permissions (
        group_id,
        can_create_asset,
        can_set_polygon_on_create,
        can_update_asset_fields,
        can_update_asset_polygon,
        can_delete_asset,
        can_update_profile
        ) VALUES (
        #{groupId},
        #{canCreateAsset},
        #{canSetPolygonOnCreate},
        #{canUpdateAssetFields},
        #{canUpdateAssetPolygon},
        #{canDeleteAsset},
        #{canUpdateProfile}
        )
    </insert>

    <update id="updatePermissions" parameterType="uk.ac.bristol.pojo.PermissionGroupPermission">
        UPDATE permission_group_permissions
        SET
        can_create_asset = #{canCreateAsset},
        can_set_polygon_on_create = #{canSetPolygonOnCreate},
        can_update_asset_fields = #{canUpdateAssetFields},
        can_update_asset_polygon = #{canUpdateAssetPolygon},
        can_delete_asset = #{canDeleteAsset},
        can_update_profile = #{canUpdateProfile}
        WHERE group_id = #{groupId}
    </update>

    <delete id="deletePermissions" parameterType="long">
        DELETE FROM permission_group_permissions WHERE group_id = #{groupId}
    </delete>

</mapper>
