<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="uk.ac.bristol.dao.PermissionGroupMapper">

    <select id="selectAllGroups" resultType="uk.ac.bristol.pojo.PermissionGroup">
        SELECT * FROM permission_groups
        ORDER BY group_name
    </select>

    <select id="selectGroupById" parameterType="long" resultType="uk.ac.bristol.pojo.PermissionGroup">
        SELECT * FROM permission_groups WHERE group_id = #{groupId}
    </select>

    <insert id="insertGroup" useGeneratedKeys="true" keyProperty="groupId" parameterType="uk.ac.bristol.pojo.PermissionGroup">
        INSERT INTO permission_groups (group_name, description, created_at, updated_at)
        VALUES (#{groupName}, #{description}, NOW(), NOW())
    </insert>

    <update id="updateGroup" parameterType="uk.ac.bristol.pojo.PermissionGroup">
        UPDATE permission_groups
        SET group_name = #{groupName}, description = #{description}, updated_at = NOW()
        WHERE group_id = #{groupId}
    </update>

    <delete id="deleteGroup" parameterType="long">
        DELETE FROM permission_groups WHERE group_id = #{groupId}
    </delete>

</mapper>