<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="uk.ac.bristol.dao.SqlMapper">
    <resultMap id="AssetHolderMap" type="uk.ac.bristol.pojo.AssetHolder">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="email" column="email"/>
        <result property="phone" column="phone"/>
        <result property="contactPreference" column="contact_preference"/>
    </resultMap>

    <resultMap id="AssetMap" type="uk.ac.bristol.pojo.Asset">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="drainArea" column="drain_area" javaType="java.lang.String"/>
        <result property="assetHolderId" column="asset_holder_id"/>
    </resultMap>

    <select id="selectAllAssetHolders" resultMap="AssetHolderMap">
        select * from asset_holders
    </select>

    <select id="selectAssetHolderByID" resultMap="AssetHolderMap">
        select * from asset_holders where id = #{id};
    </select>

    <select id="selectByAssetHolder" resultMap="AssetHolderMap">
        select * from asset_holders
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="name != null and name != ''">and name like #{name}</if>
            <if test="email != null and email != ''">and email like #{email}</if>
            <if test="phone != null and phone != ''">and phone like #{phone}</if>
            <if test="contactPreference != null and contactPreference != ''">and contact_preference = #{contactPreference}</if>
        </where>
    </select>

    <insert id="insertAssetHolder" useGeneratedKeys="true" keyProperty="id">
        insert into asset_holders (name, email, phone, contact_preference)
        values (#{name}, #{email}, #{phone}, #{contactPreference});
    </insert>

    <update id="updateAssetHolder">
        update asset_holders
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="email != null and email != ''">email = #{email},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <!-- 这个字段是一个enum, 需要类型转换
            <if test="contactPreference != null and contactPreference != ''">contact_preference = #{contactPreference},</if>
            -->
        </set>
        where id = #{id};
    </update>

    <delete id="deleteByAssetHolderIDs">
        delete from asset_holders where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">#{id}</foreach>
    </delete>

    <!-- https://postgis.net/workshops/postgis-intro/geometries.html -->

    <select id="selectAllAssets" resultMap="AssetMap">
        select id, name, ST_AsGeoJSON(drain_area) as drain_area, asset_holder_id
        from assets;
    </select>

    <select id="selectAssetByID" resultMap="AssetMap">
        select id, name, ST_AsGeoJSON(drain_area) as drain_area, asset_holder_id
        from assets
        where id = #{id};
    </select>

    <select id="selectByAsset" resultMap="AssetMap">
        select id, name, ST_AsGeoJSON(drain_area) as drain_area, asset_holder_id
        from assets
        <where>
            <if test="id != null">and id = #{id}</if>
            <if test="name != null and name != ''">and name like #{name}</if>
            <if test="assetHolderId != null">and asset_holder_id = #{assetHolderId}</if>
        </where>
    </select>

    <select id="selectAllAssetsOfHolder" resultMap="AssetMap">
        select id, name, ST_AsGeoJSON(drain_area) as drain_area, asset_holder_id
        from assets
        where asset_holder_id = #{id}
    </select>

    <insert id="insertAsset" useGeneratedKeys="true" keyProperty="id">
        insert into assets (name, drain_area, asset_holder_id)
        values (#{name}, ST_GeomFromGeoJSON(#{drainArea}), #{assetHolderId});
    </insert>

    <update id="updateAsset">
        update assets
        <set>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="drainArea != null">drain_area = ST_GeomFromGeoJSON(#{drainArea}),</if>
            <if test="assetHolderId != null">asset_holder_id = #{assetHolderId},</if>
        </set>
        where id = #{id};
    </update>

    <delete id="deleteByAssetIDs">
        delete from assets where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">#{id}</foreach>
    </delete>
</mapper>