<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="uk.ac.bristol.dao.UserMapper">
    <select id="selectAllUsers" resultMap="ResultMaps.UserMap">
        select *
        from users;
    </select>

    <select id="selectUserById" resultMap="ResultMaps.UserMap">
        select *
        from users
        where user_id = #{id};
    </select>

    <select id="loginQuery" resultMap="ResultMaps.UserMap">
        select *
        from users
        where user_id = #{id}
          and user_password = #{password};
    </select>

    <select id="selectUserByAssetHolderId" resultMap="ResultMaps.UserMap">
        select *
        from users
        where user_asset_holder_id = #{assetHolderId};
    </select>

    <select id="selectUserByAdmin" resultMap="ResultMaps.UserMap">
        select *
        from users
        where user_is_admin = #{isAdmin}
    </select>

    <select id="selectAllAssetHoldersWithAccumulator" resultType="java.util.Map">
        SELECT h.asset_holder_id as id,
               h.asset_holder_name as name,
               h.asset_holder_email as email,
               h.asset_holder_phone as phone,
               h.asset_holder_address_id as addressId,
               h.asset_holder_contact_preferences_id as contactPreferencesId,
               h.asset_holder_last_modified as lastModified,
               ${function}(a.asset_id) AS accumulation
        FROM asset_holders h
                 LEFT JOIN assets a ON h.asset_holder_id = a.asset_owner_id
        GROUP BY h.asset_holder_id,
                 h.asset_holder_name,
                 h.asset_holder_email,
                 h.asset_holder_phone,
                 h.asset_holder_address_id,
                 h.asset_holder_contact_preferences_id,
                 h.asset_holder_last_modified
        ORDER BY h.asset_holder_id;
    </select>

    <insert id="insertUser">
        insert into users (user_id, user_password, user_asset_holder_id, user_is_admin)
        values (#{id}, #{password}, #{assetHolderId}, #{admin});
    </insert>

    <update id="updateUserByUserId">
        update users
        <set>
            <if test="assetHolderId != null and assetHolderId != ''">user_asset_holder_id = #{assetHolderId},</if>
            <if test="password != null and password != ''">user_password = #{password},</if>
            <if test="admin != null">user_is_admin = #{admin},</if>
        </set>
        where user_id = #{id};
    </update>

    <delete id="deleteUserByAssetHolderIDs">
        delete from users where user_asset_holder_id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">#{id}</foreach>
    </delete>

    <delete id="deleteUserByIds">
        delete from users where user_id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">#{id}</foreach>
    </delete>
</mapper>