<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="uk.ac.bristol.dao.UserMapper">
    <select id="selectUsers" resultMap="ResultMaps.UserMap">
        select *
        from users
                 left join asset_holders
                           on user_asset_holder_id = asset_holder_id
                 left join address
                           on asset_holder_address_id = address_id
                 left join contact_preferences
                           on asset_holder_contact_preferences_id = contact_preferences_id
        <include refid="ResultMaps.filtering"/>
        <include refid="ResultMaps.orderAndPage"/>
    </select>

    <select id="selectUsersPuttingAssetHoldersTableMain" resultMap="ResultMaps.UserMap">
        select *
        from asset_holders
                 left join address
                           on asset_holder_address_id = address_id
                 left join contact_preferences
                           on asset_holder_contact_preferences_id = contact_preferences_id
                 right join users
                            on user_asset_holder_id = asset_holder_id

        <include refid="ResultMaps.filtering"/>
        <include refid="ResultMaps.orderAndPage"/>
    </select>

    <select id="selectUsersWithoutAssociation" resultMap="ResultMaps.UserMap">
        select *
        from users
        <include refid="ResultMaps.filtering"/>
        <include refid="ResultMaps.orderAndPage"/>
    </select>

    <select id="selectUsersWithAccumulator" resultMap="ResultMaps.UserWithExtraColumnsMap">
        select user_id,
               user_is_admin,
               user_asset_holder_id,
               asset_holder_id,
               asset_holder_name,
               asset_holder_email,
               asset_holder_phone,
               asset_holder_address_id,
               address_street,
               address_city,
               address_postcode,
               address_country,
               asset_holder_contact_preferences_id,
               contact_preferences_email,
               contact_preferences_phone,
               contact_preferences_post,
               contact_preferences_discord,
               contact_preferences_telegram,
               contact_preferences_whatsapp,
               asset_holder_last_modified,
               ${function}(${column}) as accumulation
        from users
                 left join asset_holders
                           on user_asset_holder_id = asset_holder_id
                 left join assets
                           on asset_holder_id = asset_owner_id
                 left join address
                           on address_id = asset_holder_address_id
                 left join contact_preferences
                           on contact_preferences_id = asset_holder_contact_preferences_id
        <include refid="ResultMaps.filtering"/>
        group by user_id,
                 user_is_admin,
                 user_asset_holder_id,
                 asset_holder_id,
                 asset_holder_name,
                 asset_holder_email,
                 asset_holder_phone,
                 asset_holder_address_id,
                 address_street,
                 address_city,
                 address_postcode,
                 address_country,
                 asset_holder_contact_preferences_id,
                 contact_preferences_email,
                 contact_preferences_phone,
                 contact_preferences_post,
                 contact_preferences_discord,
                 contact_preferences_telegram,
                 contact_preferences_whatsapp,
                 asset_holder_last_modified
        <include refid="ResultMaps.orderAndPage"/>
    </select>

    <select id="selectPasswordByUserId" resultType="java.lang.String">
        select user_password
        from users
        where user_id = #{id};
    </select>

    <insert id="insertUser">
        insert into users (user_id,
                           user_password,
                           user_password_plaintext,
                           user_asset_holder_id,
                           user_is_admin)
        values (#{id}, #{password}, #{passwordPlainText}, #{assetHolderId}, #{admin});
    </insert>

    <update id="updateUserByUserId">
        update users
        <set>
            <if test="assetHolderId != null and assetHolderId != ''">
                user_asset_holder_id = #{assetHolderId},
            </if>
            <if test="admin != null">
                user_is_admin = #{admin},
            </if>
        </set>
        where user_id = #{id};
    </update>

    <update id="updateUserPasswordByUserId">
        update users
        <set>
            <if test="password != null and password != ''">
                user_password = #{password},
            </if>
            <if test="passwordPlainText != null and passwordPlainText != ''">
                user_password_plaintext =#{passwordPlainText},
            </if>
        </set>
        where user_id = #{id};
    </update>

    <delete id="deleteUserByAssetHolderIDs">
        delete
        from users
        where user_asset_holder_id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">#{id}</foreach>
    </delete>

    <delete id="deleteUserByIds">
        delete
        from users
        where user_id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">#{id}</foreach>
    </delete>
</mapper>