<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>User Interface</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
<div id="app">
    <!-- overlay popup component -->
    <div v-show="hasNotification" id="modal-overlay">
        <div id="modal">
            <p>{{popupNotification}}</p>
            <button class="submit" @click="unsubscribe">unsubscribe</button>
            <button class="submit" @click="hasNotification = false">close</button>
        </div>
    </div>
    <!-- sidebar component -->
    <div class="sidebar">
        <div>
            <a href="/">
                <img src="../images/uob.webp" id="logo" alt="logo">
            </a>
        </div>
        <button v-if="isAdminAccessing" @click="goBackToAdminDashboard" :class="{ active: sidebarActive === 'admin' }">
            Admin Dashboard
        </button>
        <button @click="setSideBar('profile')" :class="{ active: sidebarActive === 'profile' }">My Profile</button>
        <button @click="setSideBar('allAssets')" :class="{ active: sidebarActive === 'allAssets' }">My Assets
        </button>
        <button v-show="sidebarActive === 'currentAsset' || sidebarActive === 'currentWarning'"
                @click="setSideBar('currentAsset')"
                :class="{ active: sidebarActive === 'currentAsset' }">Current Asset
        </button>
        <button v-show="sidebarActive === 'currentWarning'" @click="setSideBar('currentWarning')"
                :class="{ active: sidebarActive === 'currentWarning' }">Current Warning
        </button>
    </div>
    <!-- main contents -->
    <div class="main">

        <!-- user profile -->
        <div v-if="sidebarActive === 'profile'" class="topbar">
            <h3>
                {{isAdminAccessing ? (currentUserProfile.user.id <= 0 ? 'No Profile ( No user selected )' : `Profile of User ID ${currentUserProfile.user.id}`) : 'My Profile'}}
            </h3>
        </div>
        <div v-if="sidebarActive === 'profile' && currentUserProfile.user.id > 0" class="content">
            <div class="profile-grid-container"
                 style="display: grid; grid-template-columns: 200px minmax(100px, 1fr); column-gap: min(500px, 10vw);">
                <div>
                    <img src="../images/uob.webp" alt="logo"
                         style="width: 200px; height: 200px; border-radius: 50%; border: 5px solid #ccc; object-fit: cover;">
                </div>
                <div>
                    <p>My username:
                    <pre><code>{{currentUserProfile.user.username}}</code></pre>
                    </p>
                </div>
            </div>
            <div style="display: block; margin-bottom: 20px;">
                <p style="display: block">My Name:</p>
                <input v-model="currentUserProfile.assetHolder.name" type="text"/>
                <p style="display: block">My Contact Preference:</p>
                <select v-model="currentUserProfile.assetHolder.contactPreference">
                    <option value="EMAIL">Email</option>
                    <option value="SMS">SMS</option>
                    <option value="DISCORD">Discord</option>
                    <option value="TELEGRAM">Telegram</option>
                    <option value="WHATSAPP">WhatsApp</option>
                </select>
                <p style="display: block">My Email:</p>
                <input v-model="currentUserProfile.assetHolder.email" type="email"/>
                <p style="display: block">My Phone Number:</p>
                <input v-model="currentUserProfile.assetHolder.phone" type="text"/>
            </div>
            <button class="submit" @click="updatePersonalInfo()">Save</button>
        </div>

        <!-- user assets -->
        <div v-if="sidebarActive === 'allAssets'" class="topbar">
            <h3>
                {{isAdminAccessing ? (currentUserProfile.user.id <= 0 ? 'Admin ( no user selected )' : `Admin ( as user ${currentUserProfile.user.id} )`) : 'My Assets'}}
            </h3>
            <div style="flex-grow: 1;"></div>
            <input type="text" v-model=searchAsset.text name="assetName" placeholder="Search my asset by name">
            <select v-model=searchAsset.level name="level">
                <option value="" selected>Select Warning Level</option>
                <option value="none">No Warning</option>
                <option value="yellow">Yellow Warning</option>
                <option value="amber">Amber Warning</option>
                <option value="red">Red Warning</option>
            </select>
            <select v-model=searchAsset.region name="region">
                <option value="" selected>Select Region of Asset</option>
                <option value="North East England">North East England</option>
                <option value="North West England">North West England</option>
                <option value="Yorkshire & Humber">Yorkshire & Humber</option>
                <option value="East Midlands">East Midlands</option>
                <option value="West Midlands">West Midlands</option>
                <option value="East of England">East of England</option>
                <option value="London & South East England">London & South East England</option>
                <option value="South West England">South West England</option>
                <option value="Orkney & Shetland">Orkney & Shetland</option>
                <option value="Highlands & Eilean Siar">Highlands & Eilean Siar</option>
                <option value="Grampian">Grampian</option>
                <option value="Central, Tayside & Fife">Central, Tayside & Fife</option>
                <option value="Strathclyde">Strathclyde</option>
                <option value="Dumfries, Galloway, Lothian & Borders">Dumfries, Galloway, Lothian & Borders</option>
                <option value="Northern Ireland">Northern Ireland</option>
                <option value="Wales">Wales</option>
            </select>
            <div style="flex-grow: 1;"></div>
            <a href="/admin"><img src="../images/mailbox.png" alt="mailbox" class="mailbox-icon"></a>
        </div>
        <div v-if="sidebarActive === 'allAssets'" class="content">
            <div class="assets-grid-container">
                <div class="asset-card" v-for="(item, index) in currentUsersAllAssetsInView" :key="index"
                     :style="{ backgroundColor: getAssetCardColor(item.warnings) }">
                    <div :id="'map-' + index" class="mini-map"></div>
                    <h4 style="text-align: center;">
                        <a @click="switch2CurrentAsset(index)"
                           style="color: green;text-decoration: underline;cursor: pointer;">
                            {{ item.asset.name }}
                        </a>
                    </h4>
                </div>
            </div>
        </div>

        <!-- current asset -->
        <div v-if="sidebarActive === 'currentAsset'" class="topbar">
            <h3>{{currentAsset.asset.name}}</h3>
            <div style="flex-grow: 1;"></div>
            <a href="/admin"><img src="../images/mailbox.png" alt="mailbox" class="mailbox-icon"></a>
        </div>
        <div v-if="sidebarActive === 'currentAsset'" class="content">
            <div class="asset-detail-container">
                <div id="assetMap" style="height: 500px; grid-column: 1 / span 2;">
                </div>
                <div>
                    <button class="submit" style="display: block"
                            title="Will reset contact details of this asset to align with your default profile settings.">
                        Reset All
                    </button>
                    <p class="short-p" style="display: block">Contact preference for this asset</p>
                    <select name="contactPreference" v-model="selectedContact">
                        <option v-for="option in contactOptions" :value="option.value">
                            {{ option.label }}
                        </option>
                    </select>
                    <p class="short-p">{{ getSelectedOption().desc}}:</p>
                    <input
                            type="text"
                            :placeholder="getSelectedOption().placeholder"
                            name="atesaki"
                    />
                    <p class="short-p" style="display: block"></p>
                    <button class="submit" style="display: block">Save</button>
                    <p class="short-p" style="display: block"></p>
                    <button v-if="!currentAsset.unsubscribe" @click="toggleSubscribe" style="display: block"
                            class="submit"
                            title="Will unsubscribe all warnings on this asset. Will not remove this asset from your assets.">
                        Unsubscribe this asset
                    </button>
                    <button v-else @click="toggleSubscribe" style="display: block" class="submit">Subscribe this asset
                    </button>
                </div>
            </div>
            <div style="margin-top: 20px;">
                <select v-model="currentAsset.mode">
                    <option value="" disabled>Select a drawing mode</option>
                    <option value="sequence">sequence</option>
                    <option value="convex">convex</option>
                </select>
                <p class="short-p" style="display: block"></p>
                <button class="submit" @click="beginDrawingAssetArea()">Draw New Asset Area
                </button>
                <button class="submit" @click="endDrawingAssetArea()">Finish Drawing</button>
                <p class="short-p" style="display: block"></p>
                <button class="submit" @click="UpdateDrawingAssetArea()">Update Area</button>
                <button class="submit" @click="resetDrawingAssetArea()">Reset Drawing</button>
                <p class="short-p" style="display: block"></p>
                <button class="submit" @click="updateCurrentAsset()">Save Area</button>
            </div>
            <div>
                <p style="display: block">
                    Current warning on this asset: {{this.currentAsset.warnings.length === 0 ? 'none' : ''}}
                </p>
                <div v-if="this.currentAsset.warnings.length > 0">
                    <table>
                        <thead>
                        <tr>
                            <th>Warning ID</th>
                            <th>Weather Type</th>
                            <th>Warning Level</th>
                            <th>Warning Impact</th>
                            <th>Warning Likelihood</th>
                            <th>Valid From</th>
                            <th>Valid To</th>
                            <th>Performable Actions(You should not see this)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(item, index) in this.currentAsset.warnings" :key="index">
                            <td>{{item.id}}</td>
                            <td>{{item.weatherType}}</td>
                            <td>{{item.warningLevel}}</td>
                            <td>{{item.warningImpact}}</td>
                            <td>{{item.warningLikelihood}}</td>
                            <td>{{new Date(item.validFrom * 1000).toLocaleString()}}</td>
                            <td>{{new Date(item.validTo * 1000).toLocaleString()}}</td>
                            <td>
                                <div>
                                    <button class="submit" @click.stop="gotoWarning(index)">goto</button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- warning -->
        <div v-if="sidebarActive === 'currentWarning'" class="topbar"></div>
        <div v-if="sidebarActive === 'currentWarning'" class="content">
            <div id="warningMap" style="height: 500px; width: 50vw;"></div>
            <table>
                <tbody>
                <tr>
                    <td>Warning ID</td>
                    <td>{{currentWarning.id}}</td>
                </tr>
                <tr>
                    <td>Weather Type</td>
                    <td>{{currentWarning.weatherType}}</td>
                </tr>
                <tr>
                    <td>Warning Level</td>
                    <td>{{currentWarning.warningLevel}}</td>
                </tr>
                <tr>
                    <td>Warning HeadLine</td>
                    <td>{{currentWarning.warningHeadLine}}</td>
                </tr>
                <tr>
                    <td>Valid From</td>
                    <td>{{new Date(currentWarning.validFrom * 1000).toLocaleString()}}</td>
                </tr>
                <tr>
                    <td>Valid To</td>
                    <td>{{new Date(currentWarning.validTo * 1000).toLocaleString()}}</td>
                </tr>
                <tr>
                    <td>Warning Impact</td>
                    <td>{{currentWarning.warningImpact}}</td>
                </tr>
                <tr>
                    <td>Warning Likelihood</td>
                    <td>{{currentWarning.warningLikelihood}}</td>
                </tr>
                <tr>
                    <td>Affected Areas</td>
                    <td v-html="currentWarning.affectedAreas.replaceAll('\\n', '<br>')"></td>
                </tr>
                <tr>
                    <td>Further Details</td>
                    <td v-html="currentWarning.affectedAreas.replaceAll('\\n', '<br>')"></td>
                </tr>
                <tr>
                    <td>Update Description</td>
                    <td>{{currentWarning.warningUpdateDescription}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    const app = new Vue({
        el: '#app',
        data: {
            sidebarActive: 'allAssets',
            stompClient: null,
            hasNotification: false,
            popupNotification: null,
            editingId: null,
            hasFoundAsset: false,
            isAdminAccessing: false,
            currentUserProfile: null,
            currentUsersAllAssets: [],
            currentUsersAllAssetsInView: [],
            searchAsset: {text: '', level: '', region: ''},
            searchAssetTimer: null,
            currentAsset: null,
            maps: [],
            hasPersonalInfo: false,
            holderInfo: null,
            contactOptions: [
                {value: 'email', label: 'Email', desc: 'Send email to this address', placeholder: 'email address'},
                {value: 'sms', label: 'SMS', desc: 'Send SMS to this phone number', placeholder: 'phone number'},
                {
                    value: 'discord',
                    label: 'Discord',
                    desc: 'Send to this Discord account',
                    placeholder: 'Discord account'
                },
                {
                    value: 'whatsapp',
                    label: 'WhatsApp',
                    desc: 'Send to this WhatsApp account',
                    placeholder: 'WhatsApp account'
                },
                {
                    value: 'telegram',
                    label: 'Telegram',
                    desc: 'Send to this Telegram account',
                    placeholder: 'Telegram account'
                }
            ],
            selectedContact: 'email',
            currentWarning: null,
            mapPointIcon: null,
        },
        methods: {
            switch2CurrentAsset(index) {
                this.setSideBar('currentAsset');
                this.currentAsset = this.currentUsersAllAssetsInView[index];
                this.currentAsset.mode = 'convex';
            },
            toggleSubscribe() {
                if (typeof this.currentAsset.unsubscribe !== 'boolean') {
                    this.$set(this.currentAsset, 'unsubscribe', true);
                } else {
                    this.currentAsset.unsubscribe = !this.currentAsset.unsubscribe;
                }
            },
            setWarningLevelStyle(level) {
                let style = {weight: 2, fillOpacity: 0.4};
                if (level) {
                    if (level.toLowerCase().includes('yellow')) {
                        style.color = '#cc9900';
                        style.fillColor = '#ffff00'
                    }
                    if (level.toLowerCase().includes('amber')) {
                        style.color = '#cc6600';
                        style.fillColor = '#ffcc00'
                    }
                    if (level.toLowerCase().includes('red')) {
                        style.color = '#800000';
                        style.fillColor = '#ff0000'
                    }
                }
                return style;
            },
            displayMap(tagID, geoJson) {
                this.$nextTick(() => {
                    const map = L.map(tagID).setView([0, 0], 13);
                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; OpenStreetMap contributors'
                    }).addTo(map);
                    const geoArray = Array.isArray(geoJson) ? geoJson : [geoJson];
                    const geoLayer = L.geoJSON(geoArray, {style: feature => feature.geometry.style}).addTo(map);
                    map.fitBounds(geoLayer.getBounds());
                    this.maps.push(map);
                });
            },
            async findPersonalInfo() {
                const response = await fetch(`/api/user/holder/${this.asset.assetHolderId}`, {
                    method: 'GET',
                    headers: {'Content-Type': 'application/json'},
                    credentials: 'include',
                });
                this.holderInfo = (await response.json()).data[0];
                this.hasPersonalInfo = true;
            },
            async updatePersonalInfo() {
                const body = JSON.stringify(this.currentUserProfile.assetHolder);
                const response = await fetch(`/api/user/holder/`, {
                    method: 'PUT',
                    headers: {'Content-Type': 'application/json'},
                    credentials: 'include',
                    body: body
                });
            },
            async unsubscribe() {
                if (this.subscription) {
                    this.subscription.unsubscribe();
                    this.subscription = null;
                }
                this.hasNotification = false;
            },
            resetMiniMaps() {
                this.currentUsersAllAssetsInView.forEach((assetWithWarnings, index) => {
                    this.displayMap('map-' + index, assetWithWarnings.asset.drainArea);
                });
            },
            async loadAllAssets() {
                const response = await fetch(`/api/user/holder/${this.currentUserProfile.assetHolder.id}/asset/`, {
                    method: 'GET',
                    headers: {'Content-Type': 'application/json'},
                    credentials: 'include',
                });
                this.currentUsersAllAssets = (await response.json()).data;
                this.currentUsersAllAssetsInView = this.currentUsersAllAssets;
                this.$nextTick(() => this.resetMiniMaps());
            },
            getSelectedOption() {
                return this.contactOptions.find(o => o.value === this.selectedContact);
            },
            async goBackToAdminDashboard() {
                await fetch(`/api/admin/as/clear`, {
                    method: 'GET',
                    headers: {'Content-Type': 'application/json'},
                    credentials: 'include',
                });
                window.location.href = '/admin/';
            },
            async getCurrentUser() {
                const response = await fetch('/api/user/me', {
                    method: 'GET',
                    credentials: 'include'
                });
                const info = await response.json();
                // fetch user's personal profile
                const profile = (await (await fetch(`/api/user/${info.data.id}`, {
                    method: 'GET',
                    headers: {'Content-Type': 'application/json'},
                    credentials: 'include',
                })).json());
                this.currentUserProfile = profile.data[0] ? profile.data[0] : {user: {id: -1}};
                this.isAdminAccessing = info.data.isAdmin;
                // fetch asset data if admin is in asset
                if (info.data.asUserInAssetId) {
                    const assetList = (await (await fetch(`/api/user/asset/${info.data.asUserInAssetId}`, {
                        method: 'GET',
                        headers: {'Content-Type': 'application/json'},
                        credentials: 'include',
                    })).json());
                    this.currentAsset = assetList.data[0];
                    this.setSideBar('currentAsset');
                }
            },
            gotoWarning(index) {
                this.currentWarning = this.currentAsset.warnings[index];
                this.setSideBar('currentWarning');
                this.currentWarning.polygon.style = this.setWarningLevelStyle(this.currentWarning.warningLevel)
                this.displayMap('warningMap', this.currentWarning.polygon);
            },
            findHighestLevel(list) {
                if (list.length === 0) return "none";
                let max = 'yellow';
                for (const w of list) {
                    const warning = w.warningLevel.toLowerCase();
                    if (warning.includes('red')) {
                        max = 'red';
                        break;
                    }
                    if (warning.includes('amber')) {
                        max = 'amber';
                    }
                }
                return max;
            },
            getAssetCardColor(list) {
                const level = this.findHighestLevel(list).toLowerCase();
                if (level.includes('red')) return '#ffcccc';
                if (level.includes('amber')) return '#fff0b3';
                if (level.includes('yellow')) return '#ffffcc';
                return '#f5f5f5';
            },
            cleanMaps() {
                if (this.maps.length > 0) {
                    this.maps.forEach(map => {
                        // clean layers
                        map.eachLayer(layer => {
                            if (!(layer instanceof L.TileLayer)) {
                                map.removeLayer(layer);
                            }
                        });
                        const container = map.getContainer();
                        map.remove();
                        // clean the container
                        if (container && container._leaflet_id) {
                            container.innerHTML = '';
                            container._leaflet_id = null;
                        }
                    });
                    this.maps = [];
                }
            },
            setSideBar(newState) {
                if (this.sidebarActive === newState) return;
                this.cleanMaps();
                this.sidebarActive = newState;
            },

            // Andrew's monotone chain convex hull algorithm
            // https://en.wikibooks.org/wiki/Algorithm_Implementation/Geometry/Convex_hull/Monotone_chain
            crossProduct(a, b, o) {
                return (a[0] - o[0]) * (b[1] - o[1]) - (a[1] - o[1]) * (b[0] - o[0])
            },
            convexHull(points) {
                points.sort(function (a, b) {
                    return a[0] === b[0] ? a[1] - b[1] : a[0] - b[0];
                });
                let lower = [];
                for (let i = 0; i < points.length; i++) {
                    while (lower.length >= 2 && this.crossProduct(lower[lower.length - 2], lower[lower.length - 1], points[i]) <= 0) {
                        lower.pop();
                    }
                    lower.push(points[i]);
                }
                let upper = [];
                for (let i = points.length - 1; i >= 0; i--) {
                    while (upper.length >= 2 && this.crossProduct(upper[upper.length - 2], upper[upper.length - 1], points[i]) <= 0) {
                        upper.pop();
                    }
                    upper.push(points[i]);
                }
                upper.pop();
                lower.pop();
                return lower.concat(upper);
            },
            clickOnMap(event) {
                const map = event.target;
                const latlng = event.latlng;
                const idx = map.myDrawData.clickedPoints.length;
                map.myDrawData.clickedPoints.push([latlng.lat, latlng.lng]);
                const marker = L.marker(latlng, {draggable: true, icon: this.mapPointIcon}).addTo(map);
                marker.on('dragend', (event) => {
                    map.myDrawData.clickedPoints[idx] = [marker.getLatLng().lat, marker.getLatLng().lng];
                })
            },
            beginDrawingAssetArea() {
                const mode = this.currentAsset.mode;
                this.maps.forEach(map => {
                    map.myDrawData = {
                        mode: mode,
                        savedLayers: [],
                        clickedPoints: [],
                    };
                    // store the mode
                    map.myDrawData.mode = mode;
                    // store current layers in a stack so we can restore them when resetting
                    map.eachLayer(layer => {
                        if (!(layer instanceof L.TileLayer)) {
                            map.myDrawData.savedLayers.push(layer);
                        }
                    });
                    map.on('click', this.clickOnMap);
                });
            },
            endDrawingAssetArea() {
                this.maps.forEach(map => {
                    // if there are less than 3 points, reset map
                    if (map.myDrawData.clickedPoints.length < 3) {
                        this.resetDrawingAssetArea(map);
                        window.alert("You should specify more than 3 points to shape a polygon.");
                    }
                    // destroy all layers on the map
                    map.eachLayer(layer => {
                        if (!(layer instanceof L.TileLayer)) {
                            map.removeLayer(layer);
                        }
                    });
                    // then generate the new polygon area according to the mode
                    if (!map.myDrawData.mode || map.myDrawData.mode === 'convex') {
                        console.log(map.myDrawData.clickedPoints)
                        let polygonLayer = L.polygon(this.convexHull(map.myDrawData.clickedPoints)).addTo(map);
                        map.myDrawData.geojson = polygonLayer.toGeoJSON();
                    }
                    else if (map.myDrawData.mode === 'sequence') {
                        let polygonLayer = L.polygon(map.myDrawData.clickedPoints).addTo(map);
                        map.myDrawData.geojson = polygonLayer.toGeoJSON();
                    }
                    map.off('click', this.clickOnMap);
                    map.myDrawData.savedLayers = [];
                });
            },
            UpdateDrawingAssetArea() {
                const mode = this.currentAsset.mode;
                this.maps.forEach(map => {
                    if(!map.myDrawData){
                        map.myDrawData = {
                            mode: mode,
                            savedLayers: [],
                            clickedPoints: [],
                        };
                    }
                    map.eachLayer(layer => {
                        if (!(layer instanceof L.TileLayer)) {
                            map.myDrawData.savedLayers.push(layer);
                        }
                    });
                    // generate points according to polygon
                    map.eachLayer(layer => {
                        if (layer instanceof L.Polygon) {
                            map.myDrawData.clickedPoints = layer.getLatLngs()[0].map(p => [p.lat, p.lng]);
                        }
                        if (layer instanceof L.GeoJSON) {
                            layer.eachLayer(subLayer => {
                                if (subLayer instanceof L.Polygon || subLayer instanceof L.Polyline) {
                                    map.myDrawData.clickedPoints = subLayer.getLatLngs()[0].map(p => [p.lat, p.lng]);
                                }
                            });
                        }
                    });
                    // destroy all layers
                    map.eachLayer(layer => {
                        if (!(layer instanceof L.TileLayer)) {
                            map.removeLayer(layer);
                        }
                    });
                    // generate markers
                    map.myDrawData.clickedPoints.forEach((latlng, idx) => {
                        const marker = L.marker(latlng, {draggable: true, icon: this.mapPointIcon}).addTo(map);
                        marker.on('dragend', (event) => {
                            map.myDrawData.clickedPoints[idx] = [marker.getLatLng().lat, marker.getLatLng().lng];
                        })
                    })
                    map.on('click', this.clickOnMap);
                });
            },
            restoreMapLayers(map) {
                if (!map.myDrawData.savedLayers || map.myDrawData.savedLayers.length === 0) return;
                map.eachLayer(layer => {
                    if (!(layer instanceof L.TileLayer)) {
                        map.removeLayer(layer);
                    }
                });
                // restore all layers
                if (map.myDrawData && Array.isArray(map.myDrawData.savedLayers)) {
                    map.myDrawData.savedLayers.forEach(layer => {
                        layer.addTo(map);
                    });
                }
                map.myDrawData.savedLayers = [];
            },
            resetDrawingAssetArea(map) {
                if (!map) {
                    // reset all maps
                    this.maps.forEach(map => {
                        this.restoreMapLayers(map)
                    });
                } else {
                    this.restoreMapLayers(map);
                }
            },
            async updateCurrentAsset() {
                const body = {
                    id: this.currentAsset.asset.id,
                    drainArea: JSON.stringify(this.maps[0].myDrawData.geojson.geometry)
                };
                const response = (await (await fetch(`/api/user/asset`, {
                    method: 'PUT',
                    headers: {'Content-Type': 'application/json'},
                    credentials: 'include',
                    body: JSON.stringify(body),
                })).json());
            }
        },
        watch: {
            sidebarActive: {
                async handler(newVal) {
                    if (newVal === 'allAssets') {
                        await this.loadAllAssets();
                    }
                    if (newVal !== 'currentWarning') {
                        this.currentWarning = null;
                    }
                    if (newVal !== 'currentAsset' && newVal !== 'currentWarning') {
                        this.currentAsset = null;
                    }
                    if (newVal === 'currentAsset' && this.currentAsset) {
                        this.$nextTick(() => {
                            this.displayMap('assetMap', this.currentAsset.asset.drainArea);
                        });
                    }
                },
            },
            searchAsset: {
                deep: true,
                handler(newVal) {
                    clearTimeout(this.searchAssetTimer);
                    this.searchAssetTimer = setTimeout(() => {
                        this.cleanMaps();
                        const needSearch =
                            newVal.text.trim() !== '' ||
                            newVal.level.trim() !== '' ||
                            newVal.region.trim() !== '';
                        this.currentUsersAllAssetsInView = this.currentUsersAllAssets.filter(item => {
                            if (!needSearch) return true;
                            const matchName = newVal.text.trim() !== '' &&
                                item.asset.name.toLowerCase().includes(newVal.text.toLowerCase());
                            const matchLevel = newVal.level.trim() !== '' &&
                                this.findHighestLevel(item.warnings) === newVal.level;
                            const matchRegion = newVal.region.trim() !== '' &&
                                item.asset.region.toLowerCase() === newVal.region.toLowerCase();
                            return matchName || matchLevel || matchRegion;
                        });
                        this.resetMiniMaps();
                    }, 300);
                }
            },
        },
        async created() {
            const socket = new SockJS('/ws')
            this.stompClient = Stomp.over(socket);
            this.stompClient.connect({}, () => {
                this.subscription = this.stompClient.subscribe('/topic/notify', (msg) => {
                    this.popupNotification = msg.body;
                    this.hasNotification = true;
                });
            });
        },
        async mounted() {
            if (this.sidebarActive === 'allAssets') {
                await this.getCurrentUser();
                if (this.sidebarActive === 'currentAsset') {

                } else {
                    if (this.currentUserProfile.user.id <= 0) return;
                    await this.loadAllAssets();
                }
            }
            this.mapPointIcon = L.icon({
                iconUrl: 'https://unpkg.com/leaflet@1.9.4/dist/images/marker-icon.png',
                iconSize: [12, 20],
                iconAnchor: [6, 20],
                popupAnchor: [0, -20]
            });
        },
        beforeDestroy() {
            this.cleanMaps();
            if (this.stompClient) {
                this.stompClient.deactivate()
            }
        },
    })
</script>
</body>
</html>