<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>WebSocket Demo</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
<div id="app">
    <!-- overlay popup component -->
    <div v-show="hasNotification" id="modal-overlay">
        <div id="modal">
            <p>{{notificationFromAdmin}}</p>
            <button class="submit" @click="unsubscribe">unsubscribe</button>
            <button class="submit" @click="hasNotification = false">close</button>
        </div>
    </div>
    <!-- sidebar component -->
    <div class="sidebar">
        <div>
            <a href="/">
                <img src="../images/uob.webp" id="logo" alt="logo">
            </a>
        </div>
        <button @click="sidebarActive = 'profile'" :class="{ active: sidebarActive === 'profile' }">My Profile</button>
        <button @click="sidebarActive = 'allAssets'" :class="{ active: sidebarActive === 'allAssets' }">My Assets
        </button>
        <button v-show="sidebarActive === 'currentAsset'" @click="sidebarActive = 'currentAsset'"
                :class="{ active: sidebarActive === 'currentAsset' }">Current Asset
        </button>
    </div>
    <!-- main contents -->
    <!-- user profile -->
    <div v-if="sidebarActive === 'profile'" class="content"></div>
    <!-- user assets -->
    <div v-if="sidebarActive === 'allAssets'" class="content">
        <div class="topbar">
            <h3>My Assets</h3>
            <div style="flex-grow: 1;"></div>
            <input type="text" name="assetName" placeholder="Search my asset">
            <select name="alert">
                <option value="" selected disabled>Select Warning Level</option>
                <option value="no">No Warning</option>
                <option value="yellow">Yellow Warning</option>
                <option value="amber">Amber Warning</option>
                <option value="red">Red Warning</option>
            </select>
            <select name="county">
                <option value="" selected disabled>Select County of Asset</option>
                <option value="london">Greater London</option>
                <option value="bristol">Bristol</option>
            </select>
            <div style="flex-grow: 1;"></div>
            <a href="/admin"><img src="../images/mailbox.png" alt="mailbox" class="mailbox-icon"></a>
        </div>
        <div class="assets-grid-container">
            <div class="asset-card" v-for="(item, index) in currentUsersAllAssets" :key="index">
                <div :id="'map-' + index" class="mini-map"></div>
                <h4 style="text-align: center;">
                    <a @click="switch2CurrentAsset(index)"
                       style="color: blue;text-decoration: underline;cursor: pointer;">
                        {{ item.name }}
                    </a>
                </h4>
            </div>
        </div>
    </div>
    <!-- current asset -->
    <div v-if="sidebarActive === 'currentAsset'" class="content">
        <div class="topbar">
            <h3>{{currentAsset.name}}</h3>
            <div style="flex-grow: 1;"></div>
            <a href="/admin"><img src="../images/mailbox.png" alt="mailbox" class="mailbox-icon"></a>
        </div>
        <div class="asset-detail-container">
            <div id="map" style="height: 500px; grid-column: 1 / span 2;">
            </div>
            <div>
                <button class="submit" style="display: block" title="Will reset contact details of this asset to align with your default profile settings.">Reset All</button>
                <p class="short-p" style="display: block">Contact preference for this asset</p>
                <select name="contactPreference">
                    <option value="email">email</option>
                    <option value="sms">SMS</option>
                    <option value="discord">discord</option>
                </select>
                <p class="short-p"  style="display: block">Send email to this address:</p>
                <input style="display: block" type="text" name="email" placeholder="email address">
                <p class="short-p"  style="display: block">Send SMS to this phone number:</p>
                <input style="display: block" type="text" name="phone" placeholder="phone number">
                <p class="short-p"  style="display: block">Send message to this discord:</p>
                <input style="display: block" type="text" name="discord" placeholder="discord account">
                <p class="short-p"  style="display: block"></p>
                <button class="submit" style="display: block">Save</button>
                <p class="short-p"  style="display: block"></p>
                <button v-if="!currentAsset.unsubscribe" @click="toggleSubscribe" style="display: block" class="submit" title="Will unsubscribe all warnings on this asset. Will not remove this asset from your assets.">Unsubscribe this asset</button>
                <button v-else @click="toggleSubscribe" style="display: block" class="submit">Subscribe this asset</button>
            </div>
        </div>
        <div>
            <p style="display: block">
                Current warning on this asset: none
            </p>
        </div>
    </div>
</div>

<script>
    const app = new Vue({
        el: '#app',
        data: {
            sidebarActive: 'allAssets',
            stompClient: null,
            hasNotification: false,
            notificationFromAdmin: null,
            editingId: null,
            hasFoundAsset: false,
            currentUserId: 1,
            currentUsersAllAssets: [],
            currentAsset: null,
            map: null,
            geoLayer: null,
            hasPersonalInfo: false,
            holderInfo: null,
        },
        methods: {
            switch2CurrentAsset(index){
                console.log('switch2CurrentAsset');
                this.sidebarActive = 'currentAsset';
                this.currentAsset = this.currentUsersAllAssets[index];
                this.$nextTick(() => {
                    const geojson = this.currentAsset.drainArea;
                    this.displayMap(geojson);
                });
            },
            toggleSubscribe() {
                if (typeof this.currentAsset.unsubscribe !== 'boolean') {
                    this.$set(this.currentAsset, 'unsubscribe', true);
                } else {
                    this.currentAsset.unsubscribe = !this.currentAsset.unsubscribe;
                }
                console.log(this.currentAsset.unsubscribe);
            },
            // https://leafletjs.com/examples/geojson/
            displayMap(geojson) {
                if (this.map) {
                    this.map.remove();
                    this.map = null;
                }
                this.$nextTick(() => {
                    this.map = L.map('map').setView([0, 0], 13);
                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; OpenStreetMap contributors'
                    }).addTo(this.map);

                    if (this.geoLayer) {
                        this.geoLayer.remove();
                    }

                    this.geoLayer = L.geoJSON(geojson).addTo(this.map);
                    this.map.fitBounds(this.geoLayer.getBounds());
                });
            },
            async findPersonalInfo() {
                const response = await fetch(`/user/api/holder/${this.asset.assetHolderId}`, {
                    method: 'GET',
                    headers: {'Content-Type': 'application/json'},
                });
                this.holderInfo = (await response.json()).data[0];
                this.hasPersonalInfo = true;
            },
            async updatePersonalInfo() {
                //if(this.holderInfo.name === "" || this.holderInfo.phone === "" || this.holderInfo.email === "" || this.holderInfo.contactPreference === "") return;
                const body = JSON.stringify(this.holderInfo);
                console.log(body)
                const response = await fetch(`/user/api/holder/`, {
                    method: 'PUT',
                    headers: {'Content-Type': 'application/json'},
                    body: body
                });
            },
            async unsubscribe() {
                if (this.subscription) {
                    this.subscription.unsubscribe();
                    this.subscription = null;
                }
                this.hasNotification = false;
            },
            async loadAllAssets() {
                if (this.assetID <= 0) {
                    window.alert("asset holder id is a positive number")
                }
                const response = await fetch(`/user/api/holder/${this.currentUserId}/assets/`, {
                    method: 'GET',
                    headers: {'Content-Type': 'application/json'},
                });
                this.currentUsersAllAssets = (await response.json()).data;

                this.$nextTick(() => {
                    this.currentUsersAllAssets.forEach((asset, index) => {
                        const map = L.map('map-' + index).setView([0, 0], 13);
                        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                            attribution: '&copy; OpenStreetMap contributors'
                        }).addTo(map);

                        const geoLayer = L.geoJSON(asset.drainArea).addTo(map);
                        map.fitBounds(geoLayer.getBounds());
                    });
                });
            }
        },
        watch: {
            sidebarActive(newVal) {
                if (newVal === 'allAssets') {
                    this.loadAllAssets();
                }
            }
        },
        mounted() {
            const socket = new SockJS('/ws')
            this.stompClient = Stomp.over(socket);
            this.stompClient.connect({}, () => {
                this.subscription = this.stompClient.subscribe('/topic/notify', (msg) => {
                    this.notificationFromAdmin = msg.body;
                    this.hasNotification = true;
                });
            });

            if (this.sidebarActive === 'allAssets') {
                this.loadAllAssets();
            }
        },
        beforeDestroy() {
            if (this.stompClient) {
                this.stompClient.deactivate()
            }
        },
    })
</script>
</body>
</html>