<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Admin Interface</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
<div id="app">
    <!-- overlay popup component -->
    <div v-show="hasNotification" id="modal-overlay">
        <div id="modal">
            <p>{{popupNotification}}</p>
            <button class="submit" @click="hasNotification = false">close</button>
        </div>
    </div>
    <!-- sidebar component -->
    <div class="sidebar">
        <div>
            <a href="/">
                <img src="../images/uob.webp" id="logo" alt="logo">
            </a>
        </div>
        <button @click="setSideBar('test')" :class="{ active: sidebarActive === 'test' }">Send Notifications
        </button>
        <button @click="setSideBar('users')" :class="{ active: sidebarActive === 'users' }">All Users</button>
        <button @click="setSideBar('assets')" :class="{ active: sidebarActive === 'assets' }">All Assets</button>
        <button @click="setSideBar('warnings')" :class="{ active: sidebarActive === 'warnings' }">All Warnings
        </button>
        <button v-show="sidebarActive === 'currentWarning'" @click="setSideBar('currentWarning')"
                :class="{ active: sidebarActive === 'currentWarning' }">Warning
            {{currentWarning ? currentWarning.id : 'unknown'}}
        </button>
    </div>
    <!-- main -->
    <div class="main">
        <!-- websocket test -->
        <div v-if="sidebarActive === 'test'" class="topbar">
            <h3>Send Notification</h3>
        </div>
        <div v-if="sidebarActive === 'test'" class="content">
            <div>
                <input type="text" v-model="notification"/>
                <button class="submit" @click="sendNotification">send</button>
            </div>
        </div>

        <!-- users -->
        <div v-if="sidebarActive === 'users'" class="topbar">
            <h3>All Users</h3>
            <div style="flex-grow: 1;"></div>
            <button v-if="!isAddingAssetHolder" class="submit" @click="isAddingAssetHolder = true;">Add Asset Holder
            </button>
            <button v-if="isAddingAssetHolder" class="submit" @click="">Import CSV File</button>
        </div>
        <div v-if="sidebarActive === 'users'" class="content">
            <div v-if="isAddingAssetHolder === true">
                <div class="new-asset-holder-register-container">
                    <table>
                        <thead>
                        <tr>
                            <th>username</th>
                            <th>password</th>
                            <th>name</th>
                            <th>contact preference</th>
                            <th>email</th>
                            <th>phone</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(row, index) in newAssetHoldersArray" :key="index">
                            <td><input v-model="row.user.username" type="text"/></td>
                            <td><input v-model="row.user.password" type="text"/></td>
                            <td><input v-model="row.assetHolder.name" type="text"/></td>
                            <td>
                                <select v-model="row.assetHolder.contactPreference">
                                    <option value="EMAIL">Email</option>
                                    <option value="SMS">SMS</option>
                                    <option value="DISCORD">Discord</option>
                                    <option value="TELEGRAM">Telegram</option>
                                    <option value="WHATSAPP">WhatsApp</option>
                                </select>
                            </td>
                            <td><input v-model="row.assetHolder.email" type="email"/></td>
                            <td><input v-model="row.assetHolder.phone" type="text"/></td>
                            <td>
                                <button class="submit" @click="addAssetHolderRemoveRow(index)">🗑</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <button class="submit" @click="addAssetHolderAppendRow()">Add new template</button>
                <p class="short-p"></p>
                <div style="display: flex; justify-content: right">
                    <button class="submit" @click="submitNewAssetHolders()">Submit</button>
                    <button class="submit" style="margin-left:10px" @click="
                newAssetHoldersArray = [{ user:{username: '', password: ''}, assetHolder:{name: '', contactPreference: 'EMAIL', email: '', phone: ''} }];
                isAddingAssetHolder = false;">
                        Cancel
                    </button>
                </div>
            </div>
            <div v-if="allAssetHolders.length > 0 && !isAddingAssetHolder">
                <table>
                    <thead>
                    <tr>
                        <th v-for="col in assetHolderColumns" :key="col.column"
                            @click="onSortableColumnClick(col.column, allAssetHolders, assetHolderColumns, 'assetHolders')"
                            class="sortable">
                            {{ col.column }}
                            <span style="font-size: 0.8em; margin-left: 5px;"
                                  :style="{ opacity: sortState.assetHolders.column === col.column ? 1 : 0.1 }">
                                {{sortState.assetHolders.column === col.column ? (sortState.assetHolders.order === 'desc' ? '↑' : '↓') : '↕'}}
                            </span>
                        </th>
                        <th>Performable Actions(You should not see this)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item, index) in allAssetHolders" :key="index">
                        <td>{{item.user.id}}</td>
                        <td>{{item.assetHolder.id}}</td>
                        <td>{{item.user.username}}</td>
                        <td>{{item.assetCount}}</td>
                        <td>
                            <div>
                                <button class="submit" @click.stop="gotoUser(index)">goto</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- assets -->
        <div v-if="sidebarActive === 'assets'" class="topbar">
            <h3>All Assets</h3>
        </div>
        <div v-if="sidebarActive === 'assets'" class="content">
            <div v-if="allAssets.length > 0">
                <table>
                    <thead>
                    <tr>
                        <th v-for="col in assetColumns" :key="col.column"
                            @click="onSortableColumnClick(col.column, allAssets, assetColumns, 'assets')"
                            class="sortable">
                            {{ col.column }}
                            <span style="font-size: 0.8em; margin-left: 5px;"
                                  :style="{ opacity: sortState.assets.column === col.column ? 1 : 0.1 }">
                                {{sortState.assets.column === col.column ? (sortState.assets.order === 'desc' ? '↑' : '↓') : '↕'}}
                            </span>
                        </th>
                        <th>Performable Actions(You should not see this)</th>
                    </tr>

                    </thead>
                    <tbody>
                    <tr v-for="(item, index) in allAssets" :key="index">
                        <td>{{item.asset.id}}</td>
                        <td>{{item.asset.name}}</td>
                        <td>{{item.asset.assetHolderId}}</td>
                        <td :style="getWarningStyle(findHighestLevel(item.warnings))">
                            {{ findHighestLevel(item.warnings) }}
                        </td>
                        <td>
                            <div>
                                <button class="submit" @click.stop="gotoAsset(index)">goto</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- warnings -->
        <div v-if="sidebarActive === 'warnings'" class="topbar">
            <h3>All Warnings</h3>
        </div>
        <div v-if="sidebarActive === 'warnings'" class="content">
            <div id="allWarningsMap" style="height: 500px; width: 50vw;"></div>
            <div v-if="allWarnings.length > 0">
                <table>
                    <thead>
                    <tr>
                        <th>Warning ID</th>
                        <th>Weather Type</th>
                        <th>Warning Level</th>
                        <th>Warning Impact</th>
                        <th>Warning Likelihood</th>
                        <th>Valid From</th>
                        <th>Valid To</th>
                        <th>Performable Actions(You should not see this)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item, index) in allWarnings" :key="index">
                        <td>{{item.id}}</td>
                        <td>{{item.weatherType}}</td>
                        <td>{{item.warningLevel}}</td>
                        <td>{{item.warningImpact}}</td>
                        <td>{{item.warningLikelihood}}</td>
                        <td>{{new Date(item.validFrom * 1000).toLocaleString()}}</td>
                        <td>{{new Date(item.validTo * 1000).toLocaleString()}}</td>
                        <td>
                            <div>
                                <button class="submit" @click.stop="gotoWarning(index)">goto</button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- specific warning -->
        <div v-if="sidebarActive === 'currentWarning'" class="topbar">
            <h3>{{currentWarning.id || ''}}</h3>
        </div>
        <div v-if="sidebarActive === 'currentWarning'" class="content">
            <div id="warningMap" style="height: 500px; width: 50vw;"></div>
            <table>
                <tbody>
                <tr>
                    <td>Warning ID</td>
                    <td>{{currentWarning.id}}</td>
                </tr>
                <tr>
                    <td>Weather Type</td>
                    <td>{{currentWarning.weatherType}}</td>
                </tr>
                <tr>
                    <td>Warning Level</td>
                    <td>{{currentWarning.warningLevel}}</td>
                </tr>
                <tr>
                    <td>Warning HeadLine</td>
                    <td>{{currentWarning.warningHeadLine}}</td>
                </tr>
                <tr>
                    <td>Valid From</td>
                    <td>{{new Date(currentWarning.validFrom * 1000).toLocaleString()}}</td>
                </tr>
                <tr>
                    <td>Valid To</td>
                    <td>{{new Date(currentWarning.validTo * 1000).toLocaleString()}}</td>
                </tr>
                <tr>
                    <td>Warning Impact</td>
                    <td>{{currentWarning.warningImpact}}</td>
                </tr>
                <tr>
                    <td>Warning Likelihood</td>
                    <td>{{currentWarning.warningLikelihood}}</td>
                </tr>
                <tr>
                    <td>Affected Areas</td>
                    <td v-html="currentWarning.affectedAreas.replaceAll('\\n', '<br>')"></td>
                </tr>
                <tr>
                    <td>Further Details</td>
                    <td v-html="currentWarning.affectedAreas.replaceAll('\\n', '<br>')"></td>
                </tr>
                <tr>
                    <td>Update Description</td>
                    <td>{{currentWarning.warningUpdateDescription}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            notification: "",
            hasNotification: false,
            popupNotification: null,
            asUserId: '',
            sidebarActive: 'test',
            sortState: {
                assetHolders: {column: 'UID', order: 'asc'},
                assets: {column: 'Asset ID', order: 'asc'}
            },
            allAssetHolders: [],
            assetHolderColumns: [
                {column: 'UID', compare: (a, b) => a.user.id - b.user.id},
                {column: 'Asset Holder ID', compare: (a, b) => a.assetHolder.id - b.assetHolder.id},
                {column: 'Username', compare: (a, b) => a.user.username.localeCompare(b.user.username)},
                {column: 'Assets', compare: (a, b) => a.assetCount - b.assetCount},
            ],
            isAddingAssetHolder: false,
            newAssetHoldersArray: [
                {
                    user: {username: '', password: ''},
                    assetHolder: {name: '', contactPreference: 'EMAIL', email: '', phone: ''}
                }
            ],
            allAssets: [],
            assetColumns: [
                {column: 'Asset ID', compare: (a, b) => a.asset.id - b.asset.id},
                {column: 'Asset Name', compare: (a, b) => a.asset.name.localeCompare(b.asset.name)},
                {column: 'Asset Holder ID', compare: (a, b) => a.asset.assetHolderId - b.asset.assetHolderId},
                {
                    column: 'Warning Level', compare: () => {
                    }
                },
            ],
            allWarnings: [],
            currentWarning: null,
            maps: [],
        },
        methods: {
            async sendNotification() {
                const body = {"message": this.notification};
                const response = await fetch(`/api/admin/notify`, {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    credentials: 'include',
                    body: JSON.stringify(body),
                });
            },
            async proxyAsUser() {
                await fetch(`/api/admin/as/${this.asUserId}`, {
                    method: 'GET',
                    headers: {'Content-Type': 'application/json'},
                    credentials: 'include',
                });
                window.location.href = '/user/';
            },
            async gotoUser(index) {
                this.asUserId = this.allAssetHolders[index].assetHolder.id;
                await this.proxyAsUser();
            },
            async proxyAsUserInAsset(assetID) {
                await fetch(`/api/admin/as/${this.asUserId}/inAsset/${assetID}`, {
                    method: 'GET',
                    headers: {'Content-Type': 'application/json'},
                    credentials: 'include',
                });
                window.location.href = '/user/';
            },
            async gotoAsset(index) {
                this.asUserId = this.allAssets[index].asset.assetHolderId;
                await this.proxyAsUserInAsset(this.allAssets[index].asset.id);
            },
            async loadAllUsers() {
                const response = await fetch(`/api/user/holder`, {
                    method: 'GET',
                    headers: {'Content-Type': 'application/json'},
                    credentials: 'include',
                });
                this.allAssetHolders = (await response.json()).data;
                this.sortTable(this.sortState.assetHolders.column, this.allAssetHolders, this.assetHolderColumns, 'assetHolders');
            },
            async loadAllAssets() {
                const response = await fetch(`/api/user/asset`, {
                    method: 'GET',
                    headers: {'Content-Type': 'application/json'},
                    credentials: 'include',
                });
                this.allAssets = (await response.json()).data;
                this.sortTable(this.sortState.assets.column, this.allAssets, this.assetColumns, 'assets');
            },
            async loadAllWarnings() {
                const response = await fetch(`/api/user/warning`, {
                    method: 'GET',
                    headers: {'Content-Type': 'application/json'},
                    credentials: 'include',
                });
                this.allWarnings = (await response.json()).data;
                this.allWarnings.sort((a, b) => a.id - b.id);
                this.displayMap('allWarningsMap', this.allWarnings.map(w => {
                    let geoJson = w.polygon;
                    geoJson.style = this.setWarningLevelStyle(w.warningLevel);
                    return geoJson;
                }));
            },
            findHighestLevel(list) {
                if (list.length === 0) return "none";
                let max = 'yellow';
                for (const w of list) {
                    const warning = w.warningLevel.toLowerCase();
                    if (warning.includes('red')) {
                        max = 'red';
                        break;
                    }
                    if (warning.includes('amber')) {
                        max = 'amber';
                    }
                }
                return max;
            },
            getWarningStyle(level) {
                switch (level.toLowerCase()) {
                    case 'red':
                        return 'background-color: #C32030; color: white;';
                    case 'amber':
                        return 'background-color: #F28C28; color: black;';
                    case 'yellow':
                        return 'background-color: #F9E11C; color: black;';
                    default:
                        return '';
                }
            },
            gotoWarning(index) {
                this.currentWarning = this.allWarnings[index];
                this.setSideBar('currentWarning');
                if (this.map) {
                    this.map.remove();
                    this.map = null;
                }
                this.$nextTick(() => {
                    this.currentWarning.polygon.style = this.setWarningLevelStyle(this.currentWarning.warningLevel)
                    this.displayMap('warningMap', this.currentWarning.polygon);
                });
            },
            setWarningLevelStyle(level) {
                let style = {weight: 2, fillOpacity: 0.4};
                if (level) {
                    if (level.toLowerCase().includes('yellow')) {
                        style.color = '#cc9900';
                        style.fillColor = '#ffff00'
                    }
                    if (level.toLowerCase().includes('amber')) {
                        style.color = '#cc6600';
                        style.fillColor = '#ffcc00'
                    }
                    if (level.toLowerCase().includes('red')) {
                        style.color = '#800000';
                        style.fillColor = '#ff0000'
                    }
                }
                return style;
            },
            displayMap(tagID, geoJson) {
                this.$nextTick(() => {
                    const map = L.map(tagID).setView([0, 0], 13);
                    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                        attribution: '&copy; OpenStreetMap contributors'
                    }).addTo(map);
                    const geoArray = Array.isArray(geoJson) ? geoJson : [geoJson];
                    const geoLayer = L.geoJSON(geoArray, {style: feature => feature.geometry.style}).addTo(map);
                    map.fitBounds(geoLayer.getBounds());
                    this.maps.push(map);
                });
            },
            cleanMaps() {
                if (this.maps.length > 0) {
                    this.maps.forEach(map => {
                        map.eachLayer(layer => {
                            if (!(layer instanceof L.TileLayer)) {
                                map.removeLayer(layer);
                            }
                        });
                        const container = map.getContainer();
                        map.remove();
                        if (container && container._leaflet_id) {
                            container.innerHTML = '';
                            container._leaflet_id = null;
                        }
                    });
                    this.maps = [];
                }
            },
            setSideBar(newState) {
                if (this.sidebarActive === newState) return;
                this.cleanMaps();
                this.sidebarActive = newState;
            },
            onSortableColumnClick(column, data, columns, type) {
                const item = this.sortState[type];
                if (item.column === column) {
                    item.order = item.order === 'asc' ? 'desc' : 'asc';
                } else {
                    item.column = column;
                    item.order = 'asc';
                }
                this.sortTable(column, data, columns, type);
            },
            sortTable(column, data, columns, type) {
                const item = this.sortState[type];
                if (item.column !== column) {
                    item.column = column;
                }

                const sortedRules = [
                    ...columns.filter(r => r.column === column),
                    ...columns.filter(r => r.column !== column)
                ];

                data.sort((a, b) => {
                    for (let {compare} of sortedRules) {
                        let result = compare(a, b);
                        if (item.order === 'desc') result = -result;
                        if (result !== 0) return result;
                    }
                    return 0;
                });
            },
            addAssetHolderAppendRow() {
                this.newAssetHoldersArray.push({
                    user: {username: '', password: ''},
                    assetHolder: {name: '', contactPreference: 'EMAIL', email: '', phone: ''}
                });
            },
            addAssetHolderRemoveRow(index) {
                this.newAssetHoldersArray.splice(index, 1);
            },
            async submitNewAssetHolders() {
                const response = await(await fetch(`/api/admin/user`, {
                    method: 'POST',
                    headers: {'Content-Type': 'application/json'},
                    credentials: 'include',
                    body: JSON.stringify(this.newAssetHoldersArray),
                })).json();
                const code =  response.code;
                if(code !== 20011){
                    this.popupNotification = "Failed to submit.";
                }else{
                    this.popupNotification = "Submitted.";
                }
                this.hasNotification = true;
            },
        },
        created() {
            const priority = {
                red: 3,
                amber: 2,
                yellow: 1,
                none: 0
            };
            this.assetColumns.find(c => c.column === 'Warning Level').compare = (a, b) => {
                return (
                    priority[this.findHighestLevel(b.warnings)] -
                    priority[this.findHighestLevel(a.warnings)]
                );
            };
        },
        watch: {
            sidebarActive: {
                immediate: true,
                async handler(newVal) {
                    if (newVal === 'assets') {
                        await this.loadAllAssets();
                    }
                    if (newVal === 'users') {
                        await this.loadAllUsers();
                    }
                    if (newVal === 'warnings') {
                        await this.loadAllWarnings();
                    }
                },
            }
        },
    })
</script>
</body>
</html>